


each section in db_sections
  section.section.fullH.montserrat(id=section.name, class=section.name)
    - var post = section.post ;
    - var bracket = post.bracket ;
    - var template = post.template ;

    - var section_jade = template.jade ;
    - var section_jade_path = '/page_' + section.name ;
    - var params = p(merge(locals, section.post.vars.locals), {filename:basedir + section_jade_path, section:section}) ;
    //- - console.log(locals)
    | !{ render(section_jade,  merge(params, customize(bracket, params) ) )}