



script. 
  console.log(!{JSON.stringify(locals)})

each section in db_sections
  section.section.fullH.montserrat(id=section.name, class=section.name)
    - var post = section.post ;
    - var bracket = post.bracket ;
    - var template = post.template ;

    - var section_jade = template.jade ;
    - var section_jade_path = '/page_' + section.name ;
    
    //- VERY IMPORTANT HERE WANNA REWRITE LOCALS SO PUT LOCALS IN FRONT AND WRITE NEW PARAMS
    //- AND MORE IMPORTANTLY, WE WANT TO LURE JADE INTO THINKING BEEING AT ROOT OF JADE FOLDER FOR BACKEND REASONS
    //- IF WE SWITCH LOCALS TO LAST POSITION, LOCALS WILL BE THE REAL ONES AND MAKE OUR BACKEND EXTENDS FAIL.
    //- IN THAT CASE ONE CAN ALWAYS CHANGE ALL PATHES IN THE BACK END, OR PUT all.jade FILE AT ROOT AGAIN
    - var params = p(locals, {__dirname:basedir, filename:basedir + section_jade_path, section:section}) ;
    //- SPECIFYING DIRNAME IS JUST IN CASE, KIND OF OPTIONAL IT SEEMED
    | !{ render(section_jade,  merge( customize(bracket, params) , params) )}