.line.txtR
  p.unit.dkt.txtL.sizeSm.LmarXXXXLg
    | 116-60, Sanho-daero, Gumi-city, kyung-buk, korea 
    br
    | Tel: +82-54-462-5326~7 Fax: +82-54-462-5320 / +82-54-716-0004
  .lastUnit.sizeXSm.RmarXXXXLg
    span.block.HpadXXXLg.pad.dkt 
      | All Rights Reserved &copy; 2020
      br
      | DKT International Co, Ltd