.work-item.rel.context.fullW.noMQ
  a.data.none(href= "/" + lang + cur.path)
  .work-image
    img(src= cur.article.mainimage, alt='')
  .work-caption
    .work-descr.ls1(style="font-size:80%")= t(cur.article.product.desc) 
    h3.work-title.uppercase.Bmar.ls1= t(cur.article.product.name) 