include /mixins/_global

.extra.rel.context(id=section.name + "_patchwork", class= section.name + "_patchwork")
  .patchwork.context.txtC
    - if(!!target_sections && target_sections.length){
      ul.works-grid.works-grid-masonry.works-grid-2.works-hover-w
        - var l = target_sections.length ;
        - var cl = l < 3 || section.name == 'home' ? "size1of2" : "size1of4" ;

        each child_section in target_sections
          +linkblock(child_section, true)
    - }