include /mixins/_global

.slideshow.module-parallax.module-fade.module-full-height.fullH
	- if(!!target_sections && target_sections.length){
		ul.slides
			each child_section in target_sections
				+slide(child_section, target_sections.indexOf(child_section))

		ol.flex-control-nav.flex-control-paging

			each child_section in target_sections
				li
					a= target_sections.indexOf(child_section) + 1
	- }