//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

include /mixins/_global

block content  

	//-  EMPTY

	block flow

		nav.data-container.none
			- var target_sections = section.children ;
			- if(!!target_sections && target_sections.length){

				each child_section in target_sections

					section.subsection.fullH.whiteBG(id=child_section.name, class=child_section.name, style="border-top:10px solid #9d1639;border-bottom:10px solid #9d1639;")
						- var productjade = child_section.post.template.jade ;
						- var bracket = child_section.post.bracket ;
						- var params = p(merge(locals, child_section.post.vars.locals), {filename:basedir + child_section.name + '.jade', section:section, child_section: child_section}) ;
						
						| !{ render(productjade, merge(params, customize(bracket, params) ))}
			- }



		.extra.rel.context(style='height:50%;')
			- var target_sections = section.children ;
			include /layouts/components/slideshow
				
		.products_section_container
		include /layouts/components/patchwork
		
		+certif()

		+credits()