extends /core/basic

include /mixins/_global

block all
  block vars
    //- EXTREMELY IMPORTANT
    - var params = p(locals, {filename:basedir + section.name + '.jade'}) ;

block content
      
  block datas

  block full
  
  block flow

  block ajax
