//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends


block content
  - var target_sections = [].concat([db_sections[2]]).concat([db_sections[1]]).concat(db_sections[1].children).concat(db_sections[2].children) ;
  
  //- HOME SLIDESHOW
  .extra.rel.fullH.context(style='height:90%;')
    
    +slideshow()




  block flow
    
    //- HOME ARTICLE BLOCKS
    each home_article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')
      +article(home_article, params)
    
    
    //- PATCHWORK
    - var target_sections = [].concat(db_sections[1].children).concat(db_sections[2].children) ;
    +patchwork()
    
    +footer()

    