//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block content  

	//-  EMPTY

	block flow
		//- DO NOT REMOVE, IN USE FOR CHILDREN LOADING, THEN SLIDESHOW AND PATCHWORK
		- var target_sections = section.children ;



		nav.data-container.none
			//- HERE ARE APPENDED INVISIBILY THE CHILDREN SECTIONS 
			- if(!!target_sections && target_sections.length){
				each child_section in target_sections
					+loadchildrensection(child_section, section)
			- }
		nav.data-container.none
