//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block content
  - var target_sections = [].concat([db_sections[2]]).concat([db_sections[1]]).concat(db_sections[1].children) ;
  
  //- script. 
    console.log(!{JSON.stringify(locals.__dirname)})
    console.log(!{JSON.stringify(locals.filename)})

  //- HOME SLIDESHOW
  .extra.rel.fullH.context(style='height:90%;')
    
    +slideshow()




  block flow
    
    //- HOME ARTICLE BLOCKS
    each article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')

      if(article.template.name == 'article_custom')
        +newarticle(article, params)
      else
        +article(article, params)
    
    
    //- PATCHWORK
    - var target_sections = [].concat(db_sections[1].children) ;
    +patchwork()
    
    +footer()

    