//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block content
  - var target_sections = [].concat([db_sections[0]]).concat([db_sections[2]]).concat([db_sections[1]]).concat(db_sections[1].children) ;
  
  //- script. 
    console.log(!{JSON.stringify(locals.__dirname)})
    console.log(!{JSON.stringify(locals.filename)})

  //- HOME SLIDESHOW
  .extra.rel.fullH.context
    
    +slideshow()

  //- HOME ARTICLE BLOCKS
  each article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')
    if(article.name != 'home_intro' && article.name != 'home_why')
      +article(article, params)
      
  
  
  //- PATCHWORK
  - var target_sections = [].concat(db_sections[1].children) ;
  +patchwork()
  
  +footer()

    