
//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends


block flow

	- var main_media = getComponentsByTypename(section.post.bracket, 'ComponentModularMedia')[0].media ;
	+topimage(main_media[1], color, section.cleanname, section.surname)
	
	section.page.zind3.rel.context.marbleBG
		
		each contact_article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')
			+article(contact_article, params)

		


	+footer()


