extends /core/basic

include /mixins/_global

block all
  block vars
    - var vars = section.post.vars.vars ;
    - var locs = merge(locals, vars) ;
    - var params = p(locs, {filename:basedir + section.name + '.jade'}) ;

block content
      
  block datas

  block full
  
  block flow

  block ajax
