
//- ----------------------- START  => Extends

extends ./page

//- ----------------------- END : Extends

block flow
  
  - var main_media = getComponentsByTypename(section.post.bracket, 'ComponentModularMedia')[0].media ;
  +topimage(main_media[1], color, section.cleanname, section.surname)
  

  each md_article in getComponentsByTypename(section.post.bracket, 'ComponentModularArticle')
    - var params2 = !!md_article.page ? merge(params, rfs(md_article.page.jade, md_article.page.path, params)) : params ;
    
    +weird_article("article_" + md_article.name, md_article.template.jade, params2, md_article.color || '#169d65')

  +footer()