extends ./layout

block content
	nav.continent.abs.left0.right0.fullW.fullH.none

		//- REAL ONE
		| !{ renderFile(basedir + 'layouts/all.jade', p(locals, { filename: basedir + 'layouts/all.jade'}))}
