.module-hero.module-parallax.module-fade.module-full-height.fullH
  .hero-slider
    ul.slides
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/dkt_bg.png)')
          h1.cover.biglogo.txtC
            span.block.abs.top50.left0.fullW.uppercase.montserrat.ant.dkt(style='margin-top: 3em; font-size:1.3em;') Dynamic Korea Technology
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.bottom
            .hs-title-size-3.font-alt.m-b-20
              span.btn.round.left.dktBG TECHNOLOGY 
              span.btn.btn-border-slider-black.round.right PROVIDES
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/full_machine_002.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20.context.txtR
              span.dktBG.block.floatR.HpadXSm.round.both Machinery
            .hs-title-size-1.font-inc.LmarXXSm.Vmar.dark
              | DKT Certificated Coating Professional
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') The Company
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/full_machine_001.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20.context
              span.dktBG.block.floatL.HpadXSm.round.both Total Solution Provider
            .hs-title-size-1.font-inc.LmarXXSm.Vmar.dark
              | DKT Coating Machinery
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') Products
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/sl_001.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | The Slater 160s
            .hs-title-size-1.font-inc.Bmar
              | Full-function DKT Coating Machinery
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') Product
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/uw_001.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | Unwinder / Rewinder 60s
            .hs-title-size-1.font-inc.Bmar
              | Full-function DKT Coating Machinery
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') Product
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/lm_001.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | The Laminator 145s
            .hs-title-size-1.font-inc.Bmar
              | Full-function DKT Coating Machinery
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') Product
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/uv_001.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | Merger + UV Coater 120s
            .hs-title-size-1.font-inc.Bmar
              | Full-function DKT Coating Machinery
            ul
              li(style='display: inline;')
                a.btn.btn-border-slider-white.round.left(href='#', target='_blank')  View
              li(style='display: inline;')
                a.btn.btn-border-slider-black.round.right(href='#', target='_blank') Product
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/hero_decalmachine.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | DECALmachine
            .hs-title-size-1.font-inc
              | Blender Addon
            form(style='display: inline;', action='https://decal.machin3.io')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit')  decal.machin3.io
            form(style='display: inline;', action='https://gumroad.com/l/DECALmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://www.blendermarket.com/products/DECALmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | BlenderMarket 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(/img/hero_blueprint02_05.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | Blueprint/Schematic 02
            .hs-title-size-1.font-inc
              | Skybox (10 Themes)
            form(style='display: inline;', action='//machin3.io/product-blueprint-02.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/tcZ', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://gumroad.com/l/otuSi', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://machin3.itch.io/blueprint-schematic-02', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Itch.io 
                i.fa.fa-external-link
    ol.flex-control-nav.flex-control-paging
      li
        a 1
      li
        a 2
      li
        a 3
      li
        a 4
      li
        a 5
      li
        a 6
      li
        a 7
      li
        a 8
      li
        a 9
    ul.flex-direction-nav
      li
        a.flex-prev(href='#')
      li
        a.flex-next(href='#')
