extends ./layouts/layout_simple

block full
	- var target_sections = [].concat([data_sections[0]]).concat([data_sections[1]]).concat([data_sections[2]]).concat(data_sections[1].children) ;
	//- !{ renderFile('./public/jade/nodeless_app/components/slides.jade', {t:t, render: render, renderFile: renderFile, data_section:data_section, target_sections:target_sections}) }
	include ./components/slides

block flow
	- var target_sections = [].concat(data_sections[1].children) ;
	.extra.rel.context(id=data_section.name + "_patchwork", class= data_section.name + "_patchwork")
		include ./components/patchwork

	.extra.rel.context(id=data_section.name + "_credits", class= data_section.name + "_credits")
		include ./components/credits
	