.module-hero.module-parallax.module-fade.module-full-height.fullH
  .hero-slider
    ul.slides
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/dkt_logo_basic_red.png)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.bottom
            .hs-title-size-3.font-alt.m-b-20
              | TECHNOLOGY 
              span.rotate(style='text-shadow: black 0px 0px 0px; opacity: 1;')  PROVIDES
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_meshmachine.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | Machinery
            .hs-title-size-1.font-inc
              | DKT Coating
            form(style='display: inline;', action='https://mesh.machin3.io')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit')  mesh.machin3.io
            form(style='display: inline;', action='https://gumroad.com/l/MESHmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://www.blendermarket.com/products/MESHmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | BlenderMarket 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_me-SMG_Sub_Machine_Gun.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | me-SMG SciFi Sub Machine Gun
            .hs-title-size-1.font-inc
              | 3D Game Asset (Real Time)
            form(style='display: inline;', action='//machin3.io/product-me-SMG-SciFi-Sub-Machine-Gun.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/10cL', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
      li.bg-dark.flex-active-slide(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_the_starfighter.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | The Starfighter
            .hs-title-size-1.font-inc
              | 3D Game Asset (Real Time)
            form(style='display: inline;', action='//machin3.io/product-the-starfighter.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://www.assetstore.unity3d.com/en/#!/content/84082?utm_campaign=SFrelease&utm_source=m3&utm_medium=ref', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://gumroad.com/l/nUOeU?utm_campaign=SFrelease&utm_source=m3&utm_medium=ref', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://machin3.itch.io/the-starfighter?utm_campaign=SFrelease&utm_source=m3&utm_medium=ref', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Itch.io 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_e-HG_Hand_Gun.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | e-HG Scifi Hand Gun
            .hs-title-size-1.font-inc
              | 3D Game Asset (Real Time)
            form(style='display: inline;', action='//machin3.io/product-e-HG-SciFi-Hand-Gun.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/10cK', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_the_probe.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | The Probe
            .hs-title-size-1.font-inc
              | 3D Game Asset (Real Time)
            form(style='display: inline;', action='//machin3.io/product-the-probe.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/yLU', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://gumroad.com/l/thSZ', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://machin3.itch.io/the-probe', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Itch.io 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_k-BM_Hand_Grenades.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.right
            .hs-title-size-3.font-alt.m-b-20
              | k-BM Scifi Hand Grenades
            .hs-title-size-1.font-inc
              | 3D Game Asset (Real Time)
            form(style='display: inline;', action='//machin3.io/product-k-BM-SciFi-Hand-Grenades.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/13RD', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_decalmachine.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | DECALmachine
            .hs-title-size-1.font-inc
              | Blender Addon
            form(style='display: inline;', action='https://decal.machin3.io')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit')  decal.machin3.io
            form(style='display: inline;', action='https://gumroad.com/l/DECALmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://www.blendermarket.com/products/DECALmachine', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | BlenderMarket 
                i.fa.fa-external-link
      li.bg-dark(style='width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;')
        .slidebg.slide-zoom(style='background-image:url(./img/hero_blueprint02_05.jpg)')
        .hs-caption.container(style='top: 0px; display: table;')
          .caption-content.left
            .hs-title-size-3.font-alt.m-b-20
              | Blueprint/Schematic 02
            .hs-title-size-1.font-inc
              | Skybox (10 Themes)
            form(style='display: inline;', action='//machin3.io/product-blueprint-02.html')
              button.btn.btn-border-slider-white.btn-round.btn-xs(type='submit') Contents
            form(style='display: inline;', action='https://u3d.as/tcZ', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Unity 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://gumroad.com/l/otuSi', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Gumroad 
                i.fa.fa-external-link
            form(style='display: inline;', action='https://machin3.itch.io/blueprint-schematic-02', target='_blank')
              button.btn.btn-border-slider-black.round.btn-sm(type='submit')
                | Itch.io 
                i.fa.fa-external-link
    ol.flex-control-nav.flex-control-paging
      li
        a 1
      li
        a 2
      li
        a 3
      li
        a 4
      li
        a 5
      li
        a 6
      li
        a 7
      li
        a 8
      li
        a 9
    ul.flex-direction-nav
      li
        a.flex-prev(href='#')
      li
        a.flex-next(href='#')
