.extra.rel.context.ivoryBG(style='padding:5em 0;')
  .container.rel.context(style="margin-top:1px;")
    .articles(class= "article_" + component.name)
      .line.BmarXLg
        .unit.size2of3
          .txtL.marXXXXLg.Tmar0.padXSm.dark
            :marked !{md(t(desc_01, locals))}

        .unit.lastUnit.txtR
          .txtR.marXXXXLg.Tmar0.padXSm.dark
            :marked !{md(t(desc_02, locals))}
      .line.BmarXLg
        .txtL.marXXXXLg.Tmar0.padXSm.dark
          :marked !{md(t(desc_03, locals))}
      