.extra.rel.context(style='padding-top:10em;background:#E1E1E1')
  .container.rel.context(style="margin-top:1px;")
    
    .line.BmarXLg(style="height:1000px")
      .unit.size1of3
        .txtL.marXXXXLg.padXSm.dark 
          :marked
            !{md(t(articles[1].desc_01, params))}
      
      .unit.lastUnit.txtR
        .txtR.marXXXXLg.Tmar0.padXSm.dark
          :marked
            !{md(t(articles[1].desc_02, params))}