.section_container.fullW.flowvisible.none(id='section_container_' + data_section.name)
    //- LEFT ZONE
    .simpleblock.left.abs.top0.left0.fullH.txtC.sizeXLg(style="width:15%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- LEFT ZONE CONTENT
                .typo.txtC.HmarLg
                    a.link.block.fullW.fullH.sizeSm(href="#/en/products/")= data_section.article.desc
                    
    //- CENTER ZONE                     
    .simpleblock.center.abs.top0.fullH.size3of4.txtC.sizeXLg(style="width:85%;left:15%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- CENTER ZONE CONTENT
                .aboutbox.VpadXXXLg.HpadXXXLg.rel.txtL
                    article.desc.sizeSm.rel= data_section.article.text
                    
    //- RIGHT ZONE
    .simpleblock.left.abs.top0.fullH.txtC.sizeXLg(style="width:15%;left:85%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- RIGHT ZONE CONTENT
                .aboutnext.arrowlink.inverted.right.floatR
                    a.block.fullW.fullH(href="#/en/about/intro/") 
                        span.hidden Next    
    