.section_container.fullW.flowvisible(id='section_container_' + data_section.name)
    //- LEFT ZONE
    .simpleblock.left.abs.top0.left0.fullH.txtC.sizeR(style="width:25%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- LEFT ZONE CONTENT
                .downlink.context.typo.sizeXXLg.txtL.rel.Lmar(style="height:330px;background-image:url(./css/skin/logo_hexarmor.png);background-repeat:no-repeat;background-position: 50% 0%;background-size:auto 100%")        

                //- .logo.whitelogo.context.typo.txtC.sizeXXXLg.VpadXXXLg.marginAuto
                    a.hexarmorname.link.block.fullW.fullH.bold.sizeLg(href="#/en/products/")
                        !{ render(data_section.article.desc, {data_section:data_section, render: render, renderFile: renderFile})}
    //- CENTER ZONE
    .simpleblock.center.abs.top0.fullH.txtC.sizeR(style="width:75%;left:25%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- CENTER ZONE CONTENT
                .downlink.context.typo.sizeLg.txtL.rel.RmarXXXXLg.pad

                    a.none.fullW.fullH.link.block.bold.sizeXXXLg.lhXSm
                        span.block HEXARMOR 
                            sup.sizeXXSm.rel TM

    //- RIGHT ZONE
    .simpleblock.left.abs.top0.fullH.txtC.sizeR(style="width:25%;left:75%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM

                .abs.hugetitle.top0.right0.sizeXXXLg
                    h3.sizeXXXLg.padSm.Tpad0
                        span.sizeXXXLg.bold= data_section.article.desc

                //- RIGHT ZONE CONTENT
                .downlink.typo.txtR.rel.sizeR.RmarXXXLg
                    a.block.link.bold.pad.mar.rounded.whiteopacBG(href="#/en/news/hexarmor/")
                        .txtL HEXARMOR 
                            sup.sizeXXSm.rel.top4 TM
                            br
                            | launching, 
                        span.block.sizeR.regular.TmarLg 
                            | Discover
                            br
                            span.sizeLg The Technology 
                .arrowlink.small.right.abs.right0.top50(style="margin-top:-25px;")
                    a.block.fullW.fullH(href="#/en/news/hexarmor/") 
                        span.hidden Next

    //- NAV ELEMS
    .sectionlink.abs.top0.left0.typo.txtL.sizeR.marLg.rounded.whiteopacBG
        a.block.context.txtC(href="#/en/about/")
            span.abs.top0.left0.block.arrowlink.small.up.LmarXSm
                span.hidden Wo We Are
            span.block.pad.LpadXXXLg.LmarXXXXLg.txtR Wo We Are

    .sectionlink.abs.bottom0.left0.typo.txtL.sizeR.marLg.rounded.whiteopacBG
        a.block.context.txtC(href="#/en/products/")
            span.abs.top0.left0.block.arrowlink.small.down.LmarXSm
                span.hidden Products
            span.block.pad.LpadXXXLg.LmarXXXXLg.txtR Products