ul.context
	li(style='display: inline;')
		a.btn.btn-border-slider-white.round.left.dkt(href='/#/' + lang + link_url)= t('View')
	li(style='display: inline;')
		a.btn.btn-border-slider-black.round.right(href='/#/' + lang + link_url)= t('More')