ul.links.context(class= links_cl || "")
	li(style='display: inline;')
		a.gowhite.bt.btn-border-slider-white.round.left.dkt.whiteBG(href='/#/' + lang + link_url)= t('View')
	li(style='display: inline;')
		a.goblack.bt.btn-border-slider-black.round.right.dktBG(href='/#/' + lang + link_url)= t(links_name || 'More')