.section_container.fullW.flowvisible(id='section_container_' + data_section.name)
    //- LEFT / CENTER ZONE FULL HEIGHT
    .simpleblock.left_center.abs.top0.left0.fullH.txtC.sizeR(style="width:66%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM.sizeXXXLg
                //- LEFT / CENTER ZONE CONTENT
                .downlink.context.typo.txtL.rel.pad.LmarXXXLg(style="height:300px")

                    //- include ../layouts/image_zone

                    h2.floatL.rel.link.sizeXSm.bold.padXLg.BpadXXXXLg
                        .sizeXXLg
                            !{ render(data_section.article.title, {data_section:data_section, render: render, renderFile: renderFile})}
                    
                    span.block.abs.bottom0.right0.foggy.pad.marXXXLg.sizeXSm.txtL.regular
                        span.none.sizeSm.block Last checked : 2020 August 4th  May 12th 2020
                
                
    
    //- RIGHT ZONE
    .simpleblock.left.abs.top0.fullH.txtC.sizeR(style="width:33%;left:66%")
        .autosized.dispTable
            .centeredframe.dispCell.valignM
                //- RIGHT ZONE CONTENT
                .downlink.abs.bottom0.right0.left0.context.typo.txtR.padXXXLg
                    a.fullW.fullH.link.block.bold.sizeLg(href="#/en/products/ppf/")
                        | PPF 
                        em.block.sizeSm Paint Protective Film 
                            sup.sizeXXSm.rel.top4 &copy;
                        span.block.sizeR.regular.TmarLg  The Future <br/> of Protective Coating
                    .arrowlink.right.abs.left0.bottom0.BmarLg
                        a.block.fullW.fullH(href="#/en/products/ppf/") 
                            span.hidden Next


    //- NAV ELEMS
    .sectionlink.abs.top0.left0.typo.txtL.sizeR.marLg.VmarLg.rounded.whiteopacBG
        a.block.context.txtC(href="#/en/news/")
            span.abs.top0.left0.block.arrowlink.small.up.LmarXSm
                span.hidden News
            span.block.pad.LpadXXXLg.LmarXXXXLg.txtR News

    .sectionlink.abs.bottom0.left0.typo.txtL.sizeR.marLg.rounded.whiteopacBG
        a.block.context.txtC(href="#/en/sales/")
            span.abs.top0.left0.block.arrowlink.small.down.LmarXSm
                span.hidden Sales
            span.block.pad.LpadXXXLg.LmarXXXXLg.txtR Sales