block full

	//- - var data_children = data_section.children ;
	//- 	- if(!!data_children) (function(children, parent){
	//- 		- for(var i = 0 ; i < children.length ; i ++){
	//- 			- var data_section = children[i] ;
	//- 			- if(!!data_section.article && !!data_section.article.variables){
	//- 				- !!fix && fix(data_section.article, data_section.article.variables, 'variables') ;
	//- 			- }

	//- 			include ./image_zone

	//- 		- }
	//- 	- })(data_children, data_section) ;
block flow

